{% extends "base.html" %}

{% block content %}

{% if errors %}
<div class="alert alert-danger" role="alert">
    <strong>Errors:</strong>
    <ul class="list-unstyled">
        {% for err in errors %}
        <li>{{err}}</li>
        {% endfor %}
    </ul>
    {% if error_reason %}
    <p><b>Reason:</b> {{error_reason}}</p>
    {% endif %}
</div>
{% endif %}

{% if not_auth_warn %}
<div class="alert alert-danger" role="alert">Not authenticated</div>
{% endif %}

{% if success_slo %}
<div class="alert alert-success" role="alert">Successfully logged out</div>
{% endif %}

{% if paint_logout %}
{% if attributes %}

        <table class="table table-striped">
            <thead>
            <th>Name</th><th>Values</th>
            </thead>
            <tbody>
            {% for attr in attributes %}
            <tr>
                <td>{{ attr.0 }}</td>
                <td>
                    {% for val in attr.1 %}
                    {{ val }}
                    {% endfor %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

{% else %}
<div class="alert alert-danger" role="alert">You don't have any attributes</div>
{% endif %}
<a href="{% url "index" %}?slo" class="btn btn-outline-success">Logout</a>
{% else %}
<a href="{% url "index" %}?sso" class="btn btn-outline-success">Login</a>
<a href="{% url "index" %}?sso2" class="btn btn-outline-success">Login and access to attrs page</a>
{% endif %}

{% endblock %}